body {
    text-align: center;
    font-family: georgia;
    font-size: 1.5em;
}

pre {
    text-align: left;
    background-color: #ffc;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 1px #888 solid;
    font-size: 0.7em;
    width: 300px;
}



li {
    text-align: center;
    width: 310px;
}


p {
    margin-top: 40px;
    margin-bottom: 40px;
}

.credits {
    font-size: 0.8em;
    font-style: italic;
    left: 0px;
    width:100%;
}

.rails_plugin {
    float:right;
    width:45%;
    margin-right: 25px;
}

.ruby_gem {
    float:left;
    width:45%;
    margin-left: 25px;
    padding-right: 25px;
    border-right: 2px #888 dotted;
}